main{
  height: 600px;
  background-image: URL("https://media.npr.org/assets/img/2023/08/15/gettyimages-168351254-4e5645d67164fa560c457ff64cdf0f76b5558223-s1100-c50.jpg");
padding-top: 20px;
}

h1{
  color: white;
  margin-bottom: 50px;
  padding-left: 20px;
  
}

p{
  display: inline;
  font-size: 30px;
  color: white;
}

form {
  display: inline;
  padding-left: 50px;
}
  input{
  width: 200px;
  height: 50px;
  border-width: 5px;
}

.answerBox{
  display: inline;
  border: 1px solid black;
  padding: 40px;
  background-color: white;
  margin-right:20px;

}

.answerButton{
  margin-left: 5px;
  margin-right: 5px;
  width: 30px;
}
.initialNumberDiv{
  display: inline-block;
}
.exponentNumberDiv{
  display: inline-block;
}
.initialNumberOK{
  background-color: lightgreen;
}
.exponentNumberOK{
  background-color: lightgreen;
}

.initialNumberWrong{
  background-color:red;

}

.exponentNumberWrong{
  background-color: red;
}

.initialNumberWrongLabel{
  display: block;
  color: white;
}

.exponentNumbeWrongrLabel{
  display: block;
  color: white;
}

.calcBox{
  background-color: rgba(128,128,128, 0.3);
  padding-top:10px;
  padding-bottom: 50px;
}